<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>API Doc</title>
  </head>
  <body>
    <br>
    <br>
    <div class="container">
      <p class="h1 text-justify ">
      Django application with User and ActivityPeriod models, write a custom management command to populate the database with some dummy data, and design an API to serve that data in the json format given above.
      </p>
      <br>
      <br>
      <br>
      <br>
      <p class="h2">
        Show Members
      </p>
      <p class="h4">
        To get all Members details.
      </p>
      <div class="jumbotron bg-secondary text-white">
        <p class="h4">
          GET &nbsp; {{domain}}/api/v1/show/members
        </p>
      </div>
      <p class="h4">
        To get spefic Member details.
      </p>
      <div class="jumbotron bg-secondary text-white">
        <p class="h4">
          GET &nbsp; {{domain}}/api/v1/show/member/{id}
        </p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <p class="h2">
        Add Member
      </p>
      <p class="h4">
        To add a new Member to the database. The ID is required other values can be Updated in the Update Section.
      </p>
      <div class="jumbotron bg-secondary text-white">
        <p class="h4">
          POST &nbsp; {{domain}}/api/v1/add/member<br>
          <br>
          Content-Type:application/json;charset=UTF-8<br>
          {<br>
            &nbsp;&nbsp;"id" : "id",<br>
            &nbsp;&nbsp;"real_name" : "name",<br>
            &nbsp;&nbsp;"tz" : "timeZone",<br>
          }
        </p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <p class="h2">
        Add Activity Period
      </p>
      <p class="h4">
        To add the Activity Period to the specific member.
      </p>
      <div class="jumbotron bg-secondary text-white">
        <p class="h4">
          POST &nbsp; {{domain}}/api/v1/add/activity_period/{id}<br>
          <br>
          Content-Type:application/json;charset=UTF-8<br>
          {<br>
            &nbsp;&nbsp;"start_time" : "Mar 1 2020 11:11AM",<br>
            &nbsp;&nbsp;"end_time" : "Mar 1 2020 2:00PM",<br>
          }
        </p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <p class="h2">
        Update Member
      </p>
      <p class="h4">
        To Update a specific Member. If the key which you are trying to update is not available then key value pair is inserted as a new record.
      </p>
      <div class="jumbotron bg-secondary text-white">
        <p class="h4">

          PUT &nbsp; {{domain}}/api/v1/update/member/{id}<br>
          <br>
          Content-Type:application/json;charset=UTF-8<br>
          {<br>
            &nbsp;&nbsp;"key1" : "value1",<br>
            &nbsp;&nbsp;"key2" : "value2",<br>
            &nbsp;&nbsp;"key3" : "value3",<br>
            &nbsp;&nbsp;........<br>
            &nbsp;&nbsp;"keyN" : "valueN",<br>
          }
        </p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <p class="h2">
        Delete Member
      </p>
      <p class="h4">
        To delete a Member from the database. The specified ID will be deleted from the Database.
      </p>
      <div class="jumbotron bg-secondary text-white">
        <p class="h4">
          DELETE &nbsp; {{domain}}/api/v1/delete/member/{id}
        </p>
      </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
